

<style>
	#navbar{
		background: none;
	color: #333;
	}

#topBand{
	width:100%;
	 
	top:0;
	height:4px;
	background:#000 ;
	background: #333;
}
</style>

<div id="topBand"></div>



 
    	
<nav class="navbar navbar-reverse" role="navigation" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="/">Camera+Lens
      </a> 
    </div>


CAMMM
 <ul>
<% for(var i=0; i<cameras.length; i++) {
  var c = cameras[i];  %>
   <li ><a href="/camera/<%= c.name %>"><%= c.name %> </a></li>
<% } %>
</ul>

 
  </div>


</nav> 