<% layout('layout') -%>
<p><a href="/">&lt; BACK</a></p>

<h1><%= cameraName %></h1>

<h3>Top photos</h3>

 <ul>
<% for(var i=0; i< photoset.length; i++) {
  var p = photoset[i];  %>
   <li ><a href="<%= p.url %>"><img src="<%= p.src %>" ></a></li>
<% } %>
</ul>
