<% layout('layout') -%>    

<h1>Top Cameras</h1>

<ul>
<% for(var i=0; i<cameras.length; i++) {
  var c = cameras[i];  %>
   <li><a href="/camera/<%= c.name %>"><%= c.name %></a></li>
<% } %>
</ul>

