body {
 /* padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.back {
  text-transform: uppercase;

}

h1 .arrow {
  font: 100% "Courier New", monospace;
}

ol li {
  font-size: 140%;
}


ul li {
  list-style: none;
}

ul.pics {
  padding: 0;
}

ul.pics li {
  display: inline-block;
  width: 49%;
}

img.pic {
  max-height: 500px;
  max-width: 100%;
  margin: 10px auto;
}

div.count {
  margin: 30px 10px;
  font-size: 130%;
}
